body {
  font-family: Arial, sans-serif;
  background-color: #000000;
  color: #ffffff;
  line-height: 1.6;
}
h1 {
  color: #27f020; /* Um azul Django */
}
ul {
  background-color: #36ff4a;
  border: 1px solid #7e7b41;
  padding: 15px;
}
li {
  list-style-type: square;
} 
